################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/displaymanager/CopilotIndices/17.14.1231.31060
/.vs/displaymanager/FileContentIndex
/.vs/displaymanager/v17
/.vs
